<!--<div class="row">
  <div class="col-md-15">
    <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAd4AAAAJDg1MGY0MTgwLTdmMDAtNDJjMS05YWY1LTE1ZTgwN2ViNzJhMw.jpg" class="rounded mx-auto d-block" alt="neerajfernandes">
  </div>

  <div class="col-md-6">
  </div>
</div> -->
<!DOCTYPE html>
<html>
<head>
  <title>Neeraj Fernandes - Curriculum Vitae</title>

  <meta name="viewport" content="width=device-width"/>
  <meta name="description" content="The Curriculum Vitae of Neeraj Fernandes."/>
  <meta charset="UTF-8">

  <link type="text/css" rel="stylesheet" href="styles.css">
  <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
  <div class="mainDetails">
    <div id="headshot" class="quickFade">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAd4AAAAJDg1MGY0MTgwLTdmMDAtNDJjMS05YWY1LTE1ZTgwN2ViNzJhMw.jpg" alt="Alan Smith" />
    </div>

    <div id="name">
      <h1 class="quickFade delayTwo">Neeraj Fernandes</h1>
      <h2 class="quickFade delayThree">Senior Software Engineer</h2>
    </div>

    <div id="contactDetails" class="quickFade delayFour">
      <ul>
        <li>E: <a href="mailto:nferna10@gmu.edu" target="_blank">nferna10@gmu.edu</a></li>
        <li>L: <a href="https://www.linkedin.com/in/neeraj-fernandes">www.linkedin.com/in/neeraj-fernandes</a></li>
        <li>M:<span class="glyphicons glyphicons-iphone"></span> 571-635-2455</li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>

  <div id="mainArea" class="quickFade delayFive">
    <section>
      <article>
        <div class="sectionTitle">
          <h1>Qualification Summary</h1>
        </div>

        <div class="sectionContent">
          <p>Currently pursuing Master of Science in Computer Science with a Bachelor’s degree in Information Technology. More than 2.5 years of experience in Business Intelligence domain. First hand support and development experience on Vodafone India's Data Warehouse which is India's largest and Asia's 2nd largest data warehouse</p>
        </div>
      </article>
      <div class="clear"></div>
    </section>


    <section>
      <div class="sectionTitle">
        <h1>Professional Experience</h1>
      </div>

      <div class="sectionContent">
        <article>
          <h2>Application Developer - IBM Vodafone Business Intelligence Project</h2>
          <p class="subDetails">August 2013 - February 2016</p>
          <br>
          <p> Raw data of Vodafone customer’s details, their various mobile plans and day to day usage was extracted from various sources (Oracle Database) and was loaded into Teradata system.  The data underwent transformation as per business logic requirements and was loaded into target tables. The aggregation process ensured that the data was available for reporting process. Cognos was used as reporting tool to publish the daily, weekly and monthly reports to the user</p>
        </article>
      </div>
      <div class="clear"></div>
    </section>



    <section>
      <div class="sectionTitle">
        <h1>Academic Proects</h1>
      </div>

      <div class="sectionContent">
        <article>
          <h2>Easy Explorer – Advance File Manager with quick preview</h2>
          <p class="subDetails">August 2012 - April 2013</p>
          <br>
          <p> Developed an application that gave overall change in experience of using Operating System and provided user with rich look. More information was acquired just by looking at the folder without actually opening it and enabled user to do multitasking. Coding was done in vb.net, front end and form creation in visual basic 6.0 and implementation of graphics using Flash Moto and Dot Net Bar</p>
        </article>

        <hr>

        <article>
          <h2>Students Attendance Management System</h2>
          <p class="subDetails">January 2012 - April 2012</p>
          <br>
          <p>The database project on ‘Students Attendance Management System’ was designed using ER Model and implemented using Visual Basic 6.0 as front-end and MySQL as back-end to enable students to login with unique ID and access their attendance information. The project was based on applications of various database fundamentals including normalization, redundancy, keys and database connectivity.</p>
        </article>

        <hr>

        <article>
          <h2>Food ordering website</h2>
          <p class="subDetails">January 2011 - April 2011</p>
          <br>
          <p>The website was developed using web technologies such as Html, CSS & JavaScript and Apache Tomcat for implementation of Java servlet and Java server pages’ technology as a part of Internet Programming course in second year of engineering. While making interactions between students and college canteen staff easy, the website enabled students to login and query about food menu and give feedback for previous food orders and services</p>
        </article>
      </div>
      <div class="clear"></div>
    </section>


    <section>
      <div class="sectionTitle">
        <h1>Technical Skills</h1>
      </div>

      <div class="sectionContent">
        <ul class="keySkills">
          <li>Java</li>
          <li>Shell Scripting</li>
          <li>Pl-Sql</li>
          <li>C</li>
          <li>Angular 2</li>
          <li>HTML 5</li>
          <li>JavaScript</li>
          <li>CSS</li>
          <li>JSON</li>
          <li>JSP</li>
          <li>Servlets</li>
          <li>Autocad</li>
        </ul>
      </div>
      <div class="clear"></div>
    </section>


    <section>
      <div class="sectionTitle">
        <h1>Tools and Databases</h1>
      </div>

      <div class="sectionContent">
        <ul class="keySkills">
          <li>Oracle</li>
          <li>Teradata</li>
          <li>Eclipse</li>
          <li>Netbeans</li>
          <li>Cognos</li>
          <li>Datastage</li>
          <li>Tivoli</li>
          <li>BMC Remedy</li>
          <li>Rational Rose</li>
          <li>Visual Basic</li>
          <li>JetBrains Webstorm</li>
        </ul>
      </div>
      <div class="clear"></div>
    </section>


    <section>
      <div class="sectionTitle">
        <h1>Education</h1>
      </div>

      <div class="sectionContent">
        <article>
          <h2>George Mason University</h2>
          <p class="subDetails">Master's Degree in Computer Science</p>
          <p class="subDetails">August 2016 - Present(Expected, May 2018)</p>
        </article>
          <hr>
        <article>
          <h2>University of Mumbai</h2>
          <p class="subDetails">Bachelor's Degree in Information Technology</p>
          <p class="subDetails">July 2009 - May 2013</p>
        </article>
      </div>
      <div class="clear"></div>
    </section>

  </div>
</div>
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-3753241-1");
  pageTracker._initData();
  pageTracker._trackPageview();
</script>
</body>
</html>
