button {
  min-width: 100px;
  min-height: 60px;
  padding: 2px;
  color: darkgreen;
  border: solid 1px;
  border-radius: 4px;
}

Tree{
  color: green;
}

button:hover
{
  background-color: #c69eff;
  transform: scale(0.95);
}

input {
  width:200px;
  text-align:center;
  outline: 1px solid darkgreen;
}

input:focus{
  width:250px;
}
