
<div class="container-fluid" id="resize">
  <div align="center">
    <form>
      <input #filter (keyup)="filterNodes(filter.value, tree)" placeholder="filter nodes"/>
    </form>
  </div>
  <hr>

  <Tree #tree [nodes]="nodes"
        [options]="customTemplateStringOptions"
        (onEvent)="onEvent($event)">

    <template #treeNodeTemplate let-node>

      <div class="container-fluid" style="text-align:center; width:400px">

        <input id="t1"*ngIf="node.data.type=='OR'" class="edit" style="background:#b2c8ff;color:blue; outline: 1px solid #1500ff"
               value="{{node.data.name}}" (input)="node.data.name = $event.target.value">

        <input id="t2"*ngIf="node.data.type=='AND'" class="edit" style="background:#ffb7a7;color:red; outline: 1px solid #ff1000"
               value="{{node.data.name}}" (input)="node.data.name = $event.target.value">

        <span class="glyphicon glyphicon-plus" (click)="addNode(node)"></span>
        <span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal" (click)="deleteNode(node)">
        </span>
        <span id="rename" class="glyphicon glyphicon-registration-mark" (click)="editNode(node)"></span>
        <span class="glyphicon glyphicon-copyright-mark" (click)="clearNode(node)"></span>
        <span id="childrenCount">children:{{ childrenCount(node)}}</span>

        <div *ngIf="check==true">
          <div class="container">
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are You Sure you want to do that ?</h4>
                  </div>
                  <div class="modal-body">
                    <p>Clicking Confirm will Delete Node and it's Children. Click Cancel to skip delete operation</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteConfirm(tree)" >Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="changeFlag()">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </template>
    <template #loadingTemplate>Loading, please hold....</template>
  </Tree>
</div>
<br><br>

<button (click)="tree.treeModel.focusNextNode()">next node</button>
<button (click)="tree.treeModel.focusPreviousNode()">previous node</button>
<button [disabled]="!tree.treeModel.getFocusedNode()"
        (click)="tree.treeModel.getFocusedNode().toggleExpanded()">
  {{tree.treeModel.getFocusedNode()?.isExpanded ? 'collapse' : 'expand' }}
</button>
<button type="submit" (click)="onSubmit()">submit</button>
<br>

